In [1]:
import pandas as pd

In [6]:
data = pd.read_csv("./Housing.csv")

In [7]:
data.head(5)

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,1,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,2,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,3,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,4,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,5,61000.0,6360,2,1,1,yes,no,no,no,no,0,no

In [8]:
import torch
import torch.nn as nn
import torch.nn.functional as F

In [ ]:

class Regression(nn.Module):
    def __init__(self):
        super(Regression, self).__init__()
        self.